#galeria {
  display: grid;
  width: 100%;

  /* height: 100%;*/
  /* overflow: scroll;  */
  /* height: calc(100px - 12%); */
  padding-bottom: 34;
  /* height: 80vh; */
}

#galeria img {
  width: 100%;
  /*  height: 100%; */
  /*     object-fit: contain;
    max-height: 700px; */
}
@media screen and (min-width: 600px) {
  #galeria {
    height: 100%;
    padding-bottom: 0;
    grid-template-columns: repeat(2, 1fr);
    /*  grid-template-rows:repeat(4,500px); */
  }
  #galeria img {
    height: 100%;
    /*  width: 100%; */
    object-fit: cover;
    /* object-fit: fill; */
  }
}

@media screen and (min-width: 1024px) {
  #galeria {
    grid-template-columns: unset;
    grid-template-areas:
      "a b c"
      "d d d"
      "e f g"
      "h h h";
  }
  .kep1 {
    grid-area: a;
  }
  .kep2 {
    grid-area: b;
  }
  .kep3 {
    grid-area: c;
  }
  .kep4 {
    grid-area: d;
  }
  .kep5 {
    grid-area: e;
  }
  .kep6 {
    grid-area: f;
  }
  .kep7 {
    grid-area: g;
  }
  .kep8 {
    grid-area: h;
  }
  #galeria img {
    filter: grayscale(1);
    cursor: pointer;
    transition: ease-in-out 0.35s;
  }
  #galeria img:hover {
    filter: grayscale(0);
  }
}
